<style>

  agm-map {
    height: 450px;
    width: 750px;
  }

  .map {
    padding-top: 10px;
    float: left;
    margin-left: 1%;
    width: 49%;
  }

  .content {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    height: 460px;
    float: right;
    width: 48%;
  }

  .detail {
    padding-top: 480px;
    padding-left: 1%;
  }
</style>

<div>    
  <div style="padding-left:1%; padding-top:10px;">
    <b> {{city[cityToShow].desc}} </b>
  </div>
  <div class="map">
    <agm-map [zoom]="11" [latitude]="latC" [longitude]="lngC" id="mappa">
      <agm-marker id="{{element.id}}" [latitude]="element.lat" [longitude]="element.lng" *ngFor="let element of pointOnMap"
      (markerClick)="showMarkerInfo($event)"></agm-marker>
      <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#990099'">
        <agm-polyline-point *ngFor="let pathPoint of pathPoints; let i=index" [latitude]="pathPoint.lat" [longitude]="pathPoint.lng">
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>
    <div id="poiSelected"></div>
  </div>

  <div class="content">
    <mat-form-field appearance="fill">
      <select matNativeControl name="city" required (change)="updateCity($event)">
        <option *ngFor="let c of city; let i=index;" value="{{i}}">{{c.name}}</option>
      </select>
    </mat-form-field>
    <span style="padding-left:2%"></span>
    <mat-form-field appearance="fill">
      <select matNativeControl name="toShow" required (change)="updateList($event)">
        <option *ngFor="let opt of city[cityToShow].options" value="{{opt.name}}" [selected]="opt.name == listSelected">{{opt.value}}</option>
      </select>
    </mat-form-field>
    <span style="padding-left:2%"></span>
    <span appearance="fill" *ngIf="session.getItem('token') != undefined">
      <button mat-raised-button color="primary" (click)="save()">Save research</button>
    </span>  
    <hr>
    <div id="generalInfo"> </div>
    <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport" style="height:350px">
      <div *cdkVirtualFor="let element of lists" (click)="seeDetail($event)" id="{{element.id}}" class="example-box">{{element.desc}}</div>
    </cdk-virtual-scroll-viewport>
  </div> 
  <div class="detail" id="detailedInfo"> 
  </div>
</div>
