<div class="example-full-width">
  <div class="center" style="width:100%">

    <form class="example-list">
      <h1 style="text-align: center">Destination search</h1><br>
      <b><div class="example-full-width" style="color: red">{{errorMessage}}</div></b>
      <div *ngIf="loading == true">
        <h1 style="text-align: center"><b>Loading</b></h1>
        <div style="text-align:center">
          <img style="height: 250px; width: 250px;"  src="../../../assets/img/loading.png">
        </div>
      </div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Destination: </mat-label>
        <textarea matInput  id="destination" #destination placeholder="Destination" required></textarea>
      </mat-form-field><br>
      <div class="example-full-width" appearance="fill">
        <mat-label>Interests</mat-label>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let int of interests">
              <input type="checkbox" [value]="int.value" [checked]="int.selected" (change)="changeValue($event)">
                {{int.name}}
            </li>
          </ul>
        </span>
        <br><br>
        <mat-checkbox id="weather" #weather [checked]="true">
          Show weather
        </mat-checkbox>
        <br><br>
        <mat-checkbox id="bike" #bike>
          Show bike sharing
        </mat-checkbox>
      </div><br><br>
      <div style="text-align: center">
        <button mat-raised-button color="primary" (click)="dest($event, $any(destination.value), $any(weather.checked), $any(bike.checked))">Search destination info</button>
      </div>
    </form><br>
  </div>
</div>