<style>
 
    .dest {
      padding-top: 10px;
      float: left;
      width: 50%;
      text-align: center;
    }
  
    .path {
      padding-top: 10px;
      float: right;
      width: 50%;
      text-align: center;
    }
</style>

<div>
    <div class="dest">
        <h2 style="text-align:center">Destination search</h2>
        <br><br>
        <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport" style="height:350px">
            <div *cdkVirtualFor="let element of destList let i=index;"  class="example-box">
                <div style="width: 70%; padding-left:15px; text-align:left" innerHtml="{{element.desc}}"> </div>
                <div style="text-align:center; width: 30%">
                    <button mat-raised-button color="primary" id="{{element.id}}" (click)="searchDest($event, element.url, i)">Search</button>
                    <span style="padding-left:3px;"></span>
                    <button mat-raised-button color="primary" id="{{element.id}}" (click)="deleteElement(element.id)">Delete</button>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div class="path">
        <h2 style="text-align:center">Path search</h2>
        <br><br>
        <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport" style="height:350px">
            <div *cdkVirtualFor="let element of pathList let i=index;"  class="example-box">
                <div style="width: 70%; padding-left:15px; text-align:left" innerHtml="{{element.desc}}"> </div>
                <div style="text-align:center; width: 30%;">
                    <button mat-raised-button color="primary" id="{{element.id}}" (click)="searchPath($event, element.url, i)">Search</button>
                    <span style="padding-left:3px;"></span>
                    <button mat-raised-button color="primary" id="{{element.id}}" (click)="deleteElement(element.id)">Delete</button>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>