<div class="example-full-width">
    <div class="center" style="width:100%">
      <form class="example-list">
        <h1 style="text-align: center">Travel search</h1><br>
        <div *ngIf="loading == true">
          <h1 style="text-align: center"><b>Loading</b></h1>
          <div style="text-align:center">
            <img style="height: 250px; width: 250px;" src="../../../assets/img/loading.png">
          </div>
        </div>
        <div style="text-align:center">
          <button mat-raised-button color="primary" (click)="path($event, $any(start.value), $any(destination.value), $any(weather.checked), $any(bike.checked), $any(limit.value), $any(minDistance.value), $any(maxDetour.value), $any(profile.value))">Search path info</button>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Start: </mat-label>
            <textarea matInput  id="start" #start placeholder="Start" required></textarea>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Destination: </mat-label>
          <textarea matInput  id="destination" #destination placeholder="Destination" required></textarea>
        </mat-form-field><br>
        <mat-accordion>
          <mat-expansion-panel (opened)="detailed = true" (closed)="detailed = false" class="example-full-width" appearance="fill">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Detailed options
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
        <mat-label>Interests</mat-label>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let int of interests">
              <input type="checkbox" [value]="int.value" [checked]="int.selected" (change)="changeValue($event)">
                {{int.name}}
            </li>
          </ul>
        </span>
        <br>
        <br>
        <mat-checkbox id="bike" #bike>
          Show bike sharing
        </mat-checkbox>
        <br>
        <mat-checkbox id="weather" #weather [checked]="true">
          Show weather
        </mat-checkbox>
        <br><br>
        <h3>Trip Options</h3>
        <br>
        <mat-form-field>
            <mat-label>Number of City: </mat-label>
            <input matInput  id="limit" #limit type="number" [max]="8" [min]="0" value="3" required>
        </mat-form-field>
        <span style="padding-left: 20px"></span>
        <mat-form-field>
            <mat-label>Minimum Distance between city (in km): </mat-label>
            <input matInput  id="minDistance" #minDistance type="number" [min]="0" value="20" required>
        </mat-form-field>
        <span style="padding-left: 20px"></span>
        <mat-form-field>
            <mat-label>Max Detour (in km, at max less than half of minDistance): </mat-label>
            <input matInput  id="maxDetour" #maxDetour type="number" [min]="0" value="10" required>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Option: </mat-label>
            <select matNativeControl name="profile" #profile required>
                <option *ngFor="let prof of profiles" value="{{prof.name}}">{{prof.value}}</option>
            </select>
        </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </form>
      
    </div>
</div>